
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
* {
    box-sizing: border-box;
}

body{
    background-color: #FCFCFC;
}
.main-baner{
    height: 640px;
    padding: 0 15px;
    background-image: url('./verh.png');
    background-size: cover;
}

header{
    border-bottom: 2px solid #fff;
    padding: 60px 0 8px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

}
.logo{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FAFAFA;
}
.navigation{
    display: flex;
    padding: 0;
    margin: 0;
    list-style:none;  
}

.navigation li{
    margin-left: 30px; 
}

/* стилізуваня силок*/
.navigation a{ 
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;

}

/* підкреслити силку*/
.navigation a:hover{
    text-decoration:underline;
}


.main-baner p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    color: #FFFFFF;
}

.button{
    margin-top: 52px;
    text-align: center;
}

.button a{
    width: 200px;
    display: inline-block; 
    background: rgba(253, 108, 0, 0.68);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
     color: #FFFFFF;
}

h1{
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding-top: 144px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.container{
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

/*
* Advantages
*/
.advantages {
    padding: 0 80px 80px;
    display:flex; 
}
.advantage {
    width: 50%;
    text-align: center;
}
.advantage h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    color: #000000;
    margin: 18px 0 6px;
}

/*
* Team
*/

.team-section {
    background: #EFEFEF;
    padding: 0 0 80px;
}

.container-people{
    text-align: center;
    display:flex; 
}
.container-peopl img{
    /* width: 220px; */
}

.container-peopl h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-align: center;
    color: #000000;
    margin: 18px 0 6px;
}
.container-peopl p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #4F4D4D;

}
.container-peopl{
    flex: 0 0 25%;
    text-align: center;
}
.social {
    display: flex;
    justify-content: center;
    padding: 40px 0 0;
}
.social-item {
    margin: 0 15px;
}
.social-item img {
    max-width: 25px;
}


/*
* Offers
*/
.offers{
    display:flex;
    flex-wrap: wrap;
}
.offer{
    flex: 0 0 50%;
    padding: 0 85px;
    margin: 0 0 80px;
}

.offers h3{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: rgba(253, 108, 0, 0.68);
    padding-bottom: 14px;
}
.offers p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #262626;
}


.section .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #182650;
    padding: 80px 0;
}
